@font-face {
    src: url('msg.ttf') format('truetype');
}

.font5, .font9 {
    color: windowtext;
    font-style: normal;
}

.font5 {
    font-size: 12pt;
    font-weight: 400;
}

.font9 {
    font-size: 18pt;
    font-weight: 700;
}

.xl67 {
    font-size: 12pt;
    font-weight: 700;
    text-align: center;
    border: 1pt solid windowtext;
}

@media print {
    .bt{
        display: none;
    }
}
@page {
	size: A4 portrait;
}

tr, col, br, ruby {
    mso-height-source: auto;
    mso-width-source: auto;
    mso-ruby-visibility: none;
}
.txt {
    width: 20%;
    height: 35px;
}
.bt {
    width: 8%;
    height: 35px;
}

.style0, td, .xl65, .xl66 {
    color: windowtext;
    font-size: 11pt;
    font-weight: 400;
    font-style: normal;
    mso-font-charset: 128;
    mso-number-format: General;
    text-align: general;
    vertical-align: middle;
    border: none;
    mso-background-source: auto;
    mso-pattern: auto;
    mso-protection: locked visible;
    white-space: nowrap;
    mso-rotate: 0;
}
