body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 2.5em;
  color: #333;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  display: block;
  margin-bottom: 10px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

.section {
  margin-bottom: 40px;
}

.section h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.section p {
  font-size: 1.2em;
  line-height: 1.6;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
/* メディアクエリ */
@media (min-width: 800px) {
  .navbar {
    text-align: left;
  }

  .navbar ul li {
    display: inline-block;
    margin-right: 20px;
  }
}